@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.prose {
  font-family: serif;
}

.prose h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, sans-serif;
  padding: 1rem 0;
}

.prose h1 {
  @apply text-6xl;
}
.prose h2 {
  @apply text-5xl;
}
.prose h3 {
  @apply text-4xl;
}
.prose h4 {
  @apply text-3xl;
}
.prose h5 {
  @apply text-2xl;
}
.prose h6 {
  @apply text-xl;
}

.prose blockquote, q {
  @apply border-l-4 border-gray-400 pl-4 italic;
}
