---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="rounded-full z-50 px-8 border-[1px] border-black m-8 2xl:mx-72 xl:mx-32 lg:20 md:8">
	<nav>
		<h2 class="font-semibold"><a class="green-text" href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links space-x-8">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
		</div>
		</nav>
</header>
<style>
	header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background-color: rgba(240, 255, 240, 0.8);
		backdrop-filter: blur(10px);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1rem;
	}
	nav a {
		color: #000;
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a:hover {
		color: #404040;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: theme('borderColor.green.500');
	}


	@media (prefers-color-scheme: dark) {
		header {
			background-color: rgba(38, 38, 38, 0.8);
		}

		nav a {
			color: theme('textColor.neutral.50')
		}
		nav a:hover {
			color: theme("textColor.neutral.200")
		}
	}
</style>
